body{
	text-align: center;
	background-color: #9B92AB;
	width: auto;
}
a{
	text-decoration: none;
}
nav{
	background-color: #999C9F;
	width: 100%;
	height: 40px;
	padding-top: 20px;
	display: block;
	color: #A9CFF6;
	font-family: "Brush Script MT", cursive;
	font-size: 25px;
}
nav a:nth-child(6), nav a:nth-child(4), 
nav a:nth-child(5), nav a:nth-child(3), 
nav a:nth-child(2){
	float:left;
	display: inline-block;
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	font-size: 20px;
}
a:visited {
    color: #1C4FF0;
}
a:hover {
    color: #F01C33;
}
a:active {
    color: #ffffff;
}
h1{
	color: #154A89;
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
}
h3{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:#670364;
}
p{
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #135470;
}
.forminput{
	width:300px;
	height:40px;
	background-color: #e0e0d1;
	font-family: arial;
	border: none;
}
.formmessage{
	width:500px;
	height:250px;
	font-family: arial;
	background-color: #e0e0d1;
	border: none;
	te
}
button{
	width: 100px;
	height: 40px;
	background-color: #670364;
	color:#fff;
}