body{
	text-align: center;
	background-color: #9B92AB;
}
h1{
	color: #154A89;
	font-family: "Brush Script MT", cursive;
	font-size: 40px;
}
h3{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:#670364;
}
p{
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #135470;
}
.forminput{
	width:300px;
	height:40px;
	background-color: #e0e0d1;
	font-family: arial;
	border: none;
}
.formmessage{
	width:500px;
	height:250px;
	font-family: arial;
	background-color: #e0e0d1;
	border: none;
	te
}
button{
	width: 100px;
	height: 40px;
	background-color: #670364;
	color:green;
}